<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>coffeecoding.net</title>
    <meta name="description"
          content="Free open source projects present different java solutions using spring, hibernate and other popular frameworks.">
    <meta name="keywords"
          content="java, spring, hibernate, apache, tomcat, coding, programmer, linux, google cloud platform, open source, bootstrap, mysql, java ideas">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">
    <link rel="stylesheet" href="https://coffeecoding.net/resources/css/now-ui-kit.css" type="text/css">
    <link rel="stylesheet" href="https://coffeecoding.net/resources/css/style.css" type="text/css">
    <link rel="icon" href="img/favicon.png">
    <!-- PAGE scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/game.js"></script>
</head>

<body ng-app="ApplicationConfig" ng-controller="ApplicationConfigController" class="bg-light text-dark" style="">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="wrap">
    <div id="main" class="clear-top">
        <div class="collapse" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 py-4">
                        <h4>About</h4>
                        <p class="text-info">Free open source projects present different java solutions using spring,
                            hibernate and other popular frameworks.</p>
                    </div>
                    <div class="col-md-3 offset-md-1 py-4">
                        <h4>Contact</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://pl.linkedin.com/in/michalsiwiak" class="text-secondary"
                                   target="_blank">Follow on LinkedIn</a>
                            </li>
                            <li>
                                <a href="mailto:info@coffeecoding.net" target="_top" class="text-secondary">Email me</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar sticky-top navbar-dark bg-info">
            <div class="container d-flex justify-content-between">
                <a href="https://www.coffeecoding.net/" class="navbar-brand d-flex align-items-center"><i
                        class="fa fa-home fa-2x lead fa-fw d-inline-block" aria-hidden="true"></i>&nbsp;&nbsp;<text
                        class=""> HOME
                </text>
                </a>
                <a href="https://github.com/MichalSiwiak/one-armed-bandit-web-socket.git" target="_blank"
                   class="navbar-brand d-flex align-items-center"><i
                        class="fa fa-git-square fa-fw d-inline-block lead fa-2x"></i>&nbsp;&nbsp;<text class="">SOURCE
                    CODE
                </text>
                </a>
                <a href="/description" class="navbar-brand d-flex align-items-center"><i
                        class="fa fa-file-text fa-2x fa-fw lead d-inline-block" aria-hidden="true"></i>&nbsp;&nbsp;<text
                        class="">DESCRIPTION
                </text>
                </a>
                <a href="https://coffeecoding.net/resources/img/cv_msiwiak.pdf" target="_blank"
                   class="navbar-brand d-flex align-items-center"><i
                        class="fa fa-address-card fa-2x lead fa-fw d-inline-block" aria-hidden="true"></i>&nbsp;&nbsp;<text
                        class="">RESUME
                </text>
                </a>
                <a href="//coffeecoding.net/contact" class="navbar-brand d-flex align-items-center"><i
                        class="fa fa-envelope fa-2x lead fa-fw d-inline-block" aria-hidden="true"></i>&nbsp;&nbsp;<text
                        class="">CONTACT
                </text>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"><span
                        class="navbar-toggler-icon"></span></button>
            </div>
        </div>
        <div class="text-center py-4 bg-secondary"
             style="	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-0 text-left">
                        <h1 class="text-left text-primary">One Armed Bandit Web Socket Simulation</h1>
                        <p class="lead text-left">The game is a one-armed bandit simulation - a web service that uses
                            Spring Web Socket technology</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5 mt-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <button id="connect" type="submit" class="btn btn-dark w-100 btn-lg btn-block text-uppercase"
                                type="button">Connect
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button id="start" type="submit" class="btn btn-dark w-100 btn-lg btn-block text-uppercase"
                                type="button">Start Game
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button id="end" type="submit" class="btn btn-dark w-100 btn-lg btn-block text-uppercase"
                                type="button">END Game
                        </button>
                    </div>
                    <div class="col-md-3">
                        <a href="/results" target="_blank" class="btn btn-dark w-100 btn-lg btn-block text-uppercase"
                           type="button">SESSIONS
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" style="">
                        <h5 class="text-center mb-4">Available win lines</h5>
                        <select name="Select1" multiple="multiple" size="7" class="w-100 text-center bg-dark"
                                id="winLines-select" ng-click="selectWinLines()" ;>
                            <option ng-repeat="line in winLines" id="{{line.index}}">{{line.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-3" style="">
                        <h5 class="text-center mb-4">Available reels (min. 3)</h5>
                        <select name="Select1" multiple="multiple" size="7" class="w-100 text-center bg-dark"
                                id="reels-select" ng-click="selectReels()" ;>
                            <option ng-repeat="reel in reels" id="{{reel.index}}">{{reel.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <h5 class="text-center mb-4">BET</h5>
                        <div class="form-group m-0 mb-0"><input type="number" id="bet"
                                                                class="form-control text-center w-100 rounded-0 border-0 "
                                                                value="100" min="100" max="5000" step="50"
                                                                style="height:135px;font-size:30pt;">
                        </div>
                    </div>
                    <div class="col-md-3" style="">
                        <h5 class="text-center mb-4 text-light">SPIN</h5>
                        <button id="spin" type="submit" class="btn w-100 btn-warning text-dark"
                                style="height:135px;font-size:30pt;">SPIN
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-3 mb-2">
            <div class="container">
                <br>
                <h5 class="mb-4 text-center"> MESSAGES</h5>
                <ul class="list-group bg-primary">
                    <li class="list-group-item d-flex justify-content-between text-dark"> GAME ID <p id="gameId"></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between text-dark"> TOKEN <p id="token"></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between text-dark"> STATUS <p id="status"></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between text-dark"> MESSAGE <p id="message"></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between text-dark"> WIN LINES DATA <p
                            id="winLines"></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between text-dark"> SYMBOLS <p class="text-right"
                                                                                                     id="symbols"></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between text-dark"> WIN VALUE <p id="win"></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between text-dark"> BALANCE <p id="balance"></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between text-dark"> RNO <p id="rno"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="py-3 mb-5">
            <div class="container">
                <h5 class="mb-4 text-center"> SYMBOLS</h5>
                <div class="row">
                    <div class="col-md-4 border"><img id="icon1" class="img-fluid d-block rounded mx-auto" src=""
                                                      width="200"></div>
                    <div class="col-md-4 border"><img id="icon2" class="img-fluid d-block rounded mx-auto" src=""
                                                      width="200"></div>
                    <div class="col-md-4 border"><img id="icon3" class="img-fluid d-block rounded mx-auto" src=""
                                                      width="200"></div>
                </div>
                <div class="row bg-warning border border-dark">
                    <div class="col-md-4 border"><img id="icon4" class="img-fluid d-block rounded mx-auto" src=""
                                                      width="200"></div>
                    <div class="col-md-4 border"><img id="icon5" class="img-fluid d-block rounded mx-auto" src=""
                                                      width="200"></div>
                    <div class="col-md-4 border"><img id="icon6" class="img-fluid d-block rounded mx-auto" src=""
                                                      width="200"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 border"><img id="icon7" class="img-fluid d-block rounded mx-auto" src=""
                                                      width="200"></div>
                    <div class="col-md-4 border"><img id="icon8" class="img-fluid d-block rounded mx-auto" src=""
                                                      width="200"></div>
                    <div class="col-md-4 border"><img id="icon9" class="img-fluid d-block rounded mx-auto" src=""
                                                      width="200"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer bg-dark text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>© Copyright 2018 coffeecoding.net - All rights reserved.<br>Contact: info@coffeecoding.net<br>Warsaw PL<br><a
                href="https://www.coffeecoding.net/">Visit the homepage</a>
        </p>
    </div>
</footer>

</body>

</html>