<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>coffeecoding.net</title>
    <meta name="description"
          content="Free open source projects present different java solutions using spring, hibernate and other popular frameworks.">
    <meta name="keywords"
          content="java, spring, hibernate, apache, tomcat, coding, programmer, linux, google cloud platform, open source, bootstrap, mysql, java ideas">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">
    <link rel="stylesheet" href="https://coffeecoding.net/resources/css/now-ui-kit.css" type="text/css">
    <link rel="stylesheet" href="https://coffeecoding.net/resources/css/style.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="icon" href="img/favicon.png">
    <!-- PAGE scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="//cdn.zingchart.com/zingchart.min.js"></script>
    <script src="//cdn.zingchart.com/angular/zingchart-angularjs.js"></script>
    <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>-->
    <script src="js/report.js"></script>
</head>

<body ng-app="ReportConfig" ng-controller="ReportConfigController" class="bg-light text-dark" style="">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="wrap">
    <div id="main" class="clear-top">
        <div class="navbar sticky-top navbar-dark bg-dark">
            <div class="container d-flex justify-content-between">
                <a href="https://github.com/MichalSiwiak/one-armed-bandit-web-socket.git" target="_blank" class="navbar-brand d-flex align-items-center"><i class="fa fa-git-square fa-fw d-inline-block lead fa-2x"></i>&nbsp;&nbsp;<text class="">SOURCE CODE </text>
                </a>
            </div>
        </div>
        <div class="text-center py-4 bg-secondary text-light" style="">
            <div class="container">
                <div class="row">
                    <div class="col-md-0 text-left">
                        <h1 class="text-left text-light">Slot Machine Simulator</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 mb-4">
            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3 m-0"></div>
                    <div class="col-md-3">
                        <a class="btn btn-dark w-100 btn-block text-uppercase btn-sm" type="button" href="/slot-simulator/logs">Server logs</a>
                        <a class="btn btn-dark w-100 btn-block text-uppercase btn-sm mb-3" type="button" href="/slot-simulator/results">Sessions</a>
                    </div>
                </div>
                <div style=" height: 15px;">
                    <div ng-hide="status">
                        <div class="bar"></div>
                    </div>
                </div>
                <h3 class="m-0">Game simulation of big number of spins</h3>
            </div>
        </div>
        <div class="mt-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card w-100" style=" height: 280px;">
                            <div class="card-header text-center"> Change configuration</div>
                            <div class="card-body w-100 h-25">
                                <form method="POST" enctype="multipart/form-data" action="/slot-simulator/send">
                                    <div class="form-group"><input name="file" type="file" required="true"
                                                                   class="form-control w-100 rounded-0"></div>
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <button class="btn btn-dark w-100 btn-block text-uppercase btn-sm"
                                                    type="submit" style="">Change
                                                configuration
                                            </button>
                                        </div>
                                        <div class="col-md-6"><a
                                                class="btn btn-dark w-100 btn-block text-uppercase btn-sm"
                                                href="/slot-simulator/downloadConfig">Current
                                            configuration</a></div>
                                    </div>
                                </form>
                                <div th:if="${success}">
                                    <div class="alert alert-info text-white px-5 mb-0" role="alert">
                                        <div class="container">
                                            <i class="now-ui-icons ui-2_like lg pull-left mr-3"></i>
                                            <strong>SUCCESS!</strong>
                                            <span th:text="${success}"></span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${error}">
                                    <div class="alert alert-danger text-white px-5 mb-0" role="alert">
                                        <div class="container">
                                            <i class="now-ui-icons objects_support-17 lg pull-left mr-3"></i>
                                            <strong>ERROR!</strong>
                                            <span th:text="${error}"></span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card w-100" style=" height: 280px;">
                            <div class="card-header text-center"> Report</div>
                            <div class="card-body w-100 h-25">
                                <ul class="">
                                    <li>Number of spins <span style="float:right;">{{message.numberOfSpins}}</span></li>
                                    <hr class="m-0">
                                    <li>Number of wins: <span style="float:right;">{{message.numberOfWins}}</span></li>
                                    <hr class="m-0">
                                    <li>Bet:<span style="float:right;">{{message.bet}}</li>
                                    <hr class="m-0">
                                    <li>Sum of wins: <span style="float:right;">{{message.sumOfWins}}</li>
                                    <hr class="m-0">
                                    <li>Value of wins: <span style="float:right;">{{message.valueOfWins}}</li>
                                    <hr class="m-0">
                                    <li>Starting balance: <span style="float:right;">{{message.startingBalance}}</li>
                                    <hr class="m-0">
                                    <li>End balance: <span style="float:right;">{{message.endBalance}}</li>
                                    <hr class="m-0">
                                    <li>Indexes wins: <span style="float:right;">{{message.indexesWins}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <form ng-submit="submit()">
                <div class="row">
                    <div class="col-md-2" style="">
                        <p class="text-center mb-4">Available win lines</p>
                        <select name="Select1" multiple="multiple" size="7"
                                class="form-control text-center w-100 border-0 border-light text-dark rounded-0 bg-light"
                                id="winLines-select" ng-click="selectWinLines()"
                                style="	box-shadow: 0px 0px 10px  grey, 0px 0px   black;">
                            <option ng-repeat="line in winLines" id="{{line.index}}">{{line.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-2" style="">
                        <p class="text-center mb-4">Available reels (min. 3)</p>
                        <select name="Select1" multiple="multiple" size="7"
                                class="form-control text-center w-100 border-0 border-light text-dark rounded-0 bg-light"
                                id="reels-select" ng-click="selectReels()"
                                style="	box-shadow: 0px 0px 10px  grey, 0px 0px   black;">
                            <option ng-repeat="reel in reels" id="{{reel.index}}">{{reel.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <h5 class="text-center mb-4">Start</h5>
                        <div class="form-group m-0 mb-0"><input ng-model="form.start" type="number" id="start"
                                                                class="form-control text-center w-100 border-0 border-light text-dark rounded-0 bg-light"
                                                                value="100" min="1" max="2000000" step="1"
                                                                style="	height: 125px;	font-size: 15pt;	box-shadow: 0px 0px 10px  grey, 0px 0px   black;">
                        </div>
                    </div>
                    <div class="col-md-2" style="">
                        <h5 class="text-center mb-4">Size</h5>
                        <div class="form-group m-0 mb-0"><input ng-model="form.size" type="number" id="size"
                                                                class="form-control text-center w-100 border-0 border-light text-dark rounded-0 bg-light"
                                                                value="1000" min="1" max="1000000" step="1"
                                                                style="	height: 125px;	font-size: 15pt; box-shadow: 0px 0px 10px  grey, 0px 0px   black;">
                        </div>
                    </div>
                    <div class="col-md-2" style="">
                        <h5 class="text-center mb-4">Balance</h5>
                        <div class="form-group m-0 mb-0"><input ng-model="form.startingBalance" type="number"
                                                                id="balance"
                                                                class="form-control text-center w-100 border-0 border-light text-dark rounded-0 bg-light"
                                                                value="5000" min="100" max="10000" step="50"
                                                                style="	height: 125px;	font-size: 15pt;		box-shadow: 0px 0px 10px  grey, 0px 0px   black;">
                        </div>
                    </div>
                    <div class="col-md-2" style="">
                        <h5 class="text-center mb-4">Bet</h5>
                        <div class="form-group m-0 mb-0"><input ng-model="form.bet" type="number" id="bet"
                                                                class="form-control text-center w-100 border-0 border-light text-dark rounded-0 bg-light"
                                                                value="100" min="100" max="5000" step="50"
                                                                style="	height: 125px;	font-size: 15pt;		box-shadow: 0px 0px 10px  grey, 0px 0px   black;">
                        </div>
                    </div>
                </div>
                <button id="generate" type="submit"
                        class="btn mt-4 btn-dark w-100 btn-block text-uppercase btn-sm">
                    Generate Report
                </button>
            </form>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-0 mb-4 text-center">Changes of account balance through a lot of games</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="box-shadow: 0px 0px 10px  grey, 0px 0px   black;"
                         zingchart="" id="chart-1" zc-json="myJson" zc-width="100%" zc-height="568px"
                         class="mb-5"></div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12" >
                    <canvas id="line-chart" width="800" height="450"></canvas>
                </div>
            </div>-->
        </div>
    </div>
</div>
<footer class="footer bg-dark text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>© Copyright 2018 coffeecoding.net - All rights reserved.<br>Contact: info@coffeecoding.net<br>Warsaw PL<br><a
                href="https://www.coffeecoding.net/">Visit the homepage</a>
        </p>
    </div>
</footer>
</body>

</html>
